
body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #f4f4f4;
	overflow-y: scroll;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

h1 {
	font-weight: bold;
}

h2 {
	margin: 0;
}

li{
	text-indent: 2px
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:	#D70F64;
	padding: 10px 20px;
	color: white;
}

.logo img {
	height: 50px; /* Adjust as needed */
}

.nav {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.nav li {
	margin-left: 20px; /* Space between nav items */
}

.nav a {
	color: white;
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.nav-container {
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	max-width: 92vw; /* Increased width for larger screens */
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.meals-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
	width: 100%;
	gap: 2rem;
	justify-content: center;
	align-self: center;
	justify-self: center;
}

.meal {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-top: 4rem;
	transition: transform 0.3s ease; /* Smooth scaling transition */
}

/* Media query for smaller screens */
@media (max-width: 720px) {
	.meals-container {
        grid-template-columns: 1fr;
    }
}

/* Media query for medium screens */
@media (min-width: 720px) and (max-width: 920px){
	.meals-container {
		grid-template-columns: repeat(2, 1fr);
    }

	.meal, .card {
		max-width: 100%; /* Make it full width */
		transform: scale(1); /* Slightly increase size */
		margin: 2rem 0; /* Adjust top and bottom margin */
	}
}

.meal-content {
	padding: 1rem;
	text-align: center;
}

.meal-content > p {
	margin-top: 0.75rem;
}

.meal-img {
	max-height: 20rem;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.select-btn {
	padding: 10px 15px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px; /* Add space between search bar and button */
	font-size: 16px;
}

.back-btn {
	background-color: #D70F64;
	border-color: #D70F64;
	padding: 10px 15px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px; /* Add space between search bar and button */
	font-size: 16px;
}

.fixed-size {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

button {
	background-color: #D70F64;
	border-color: transparent;
	color: white;
	padding: 0.4rem 2rem;
	border-radius: 0.5rem;
	box-shadow: none;

}

button:hover{
	background-color: #c71861;
	border-color: transparent;
}

.center {
	text-align: center;
}

.jumbotron-img {
	position: relative;
	 /* Centers the image */
}

.jumbotron-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('https://dansons-site-images.s3.us-west-2.amazonaws.com/pb/recipes/Autumn_Spiced_Chicken_Wings.jpg'); /* Replace with your image URL */
	background-size: cover; /* Ensures the image covers the entire jumbotron */
	background-position: center;
	
	opacity: 0.8;
	z-index: 1;
}

.jumbotron .content {
	background-color: rgba(255, 255, 255, 0.75);
	position: relative; /* Ensures the text appears above the overlay */
	z-index: 2; /* Places the text above the overlay */
}

.content {
	padding: 20px;
}

.website-color {
	color: #D70F64;
}

.browse-button {
	position: relative; /* Ensures the button remains on top */
    z-index: 3; /* Places the button above the content */
    opacity: 1; /* Ensures the button is fully opaque */
}

.ingredientfilter{
	margin-left:10%;
}

.contactpage{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	font-size:50px;
}

.recipe-content {
	padding: 4.5rem;
	background-color: #e77ca9a0;
	border-radius: 1rem;
	font-size: 25px;
}

#reccomendations-text {
	margin-top: 6rem;
	margin-bottom: -3rem;
}
